*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.upper-part{
  display: flex;
  justify-content: space-around;
  height: 58px;
  border-bottom: 1px solid #f0f0f0;
}

.upper-logo img{
  height: 56px;
  width: 100px;
}

.upper-list{
  display: flex;
  align-items: center;
  position: relative;
 
}
.list-ul{  /*首页，下载等设置*/
  display: flex;
  list-style-type: none;
  font-size:17px; 
}

.search input{    /*搜索框*/
  padding: 0 40px 0 20px;
  margin-top: 0;
  color: #a0a0a0;
  width: 160px;
  height: 38px;
  font-size: 14px;
  border: 1px solid #eee;
  border-radius: 40px;
  background: #eee;
  outline: none;
}

.fa-search{
  color: #9e999c;
  position: absolute;
  right: 35px;
  top: 20px;
}
.fa-compass{
  color: #ea6f5a;
  margin-right: -15px;
}
.fa-arrow-alt-circle-down{
  color: #9e999c;
  margin-right: -15px;
}

.item-ul a{
  padding:15px;
  line-height: 33px;
}

.home a{
  color: #ea6f5a;
}
.download a{
  color: #333;
}

.list-ul li{
  margin-right: 10px;
}

.upper-btn{  /*右上角按钮设置*/
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
/*.upper-btn a{
  padding:15px;
}*/
.btn-wz{
  width: 100px;
  border-radius: 20px;
  font-size: 17px;
  color: #fff;
  background-color: #ea6f5a;
  text-align: center;
  padding: 10px;
  margin-left: 20px
}
.btn-zc{
  width: 80px;
  height: 38px;
  border-radius: 20px;
  font-size: 17px;
  color:#ea6f5a ;
  text-align: center;
  line-height: 33px;
  border:1px solid #ea6f5a;
  margin-left: 20px
}
.btn-dl{
  color:#969696;
  margin-left: 20px;
  margin-right: 10px;
}
.btn-zt{
  color: #969696;
  margin-left: 20px;
  margin-right: 10px;
  font-weight: 700;
  font-size: 19px;
}